body {
    background-color: #282828 !important;
}

#navbar.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #282828 !important;
}

#navbar {
    a.navbar-brand {
        color: white;
    }
    a.nav-link.active {
        color: white;
    }
}

a#navbarDropdown.nav-link.dropdown-toggle::after {
    display: none;
}

input.form-control.me-2 {
    background-color: #282828;
    color: white;
}

.btn-outline-success {
    border-color: white !important;
    &:hover {
        background-color: white !important;
        color: black !important;
    }
    a{
        color: white !important;
        text-decoration: none;
        &:hover{
            color: black !important;
        }
    }
}

button.navbar-toggler {
    border: none;
    .navbar-toggler-icon {
        background-image: url("img/togglerIcon.png");
    }
}

.carousel-slide {
    background-color: black;
}

.container-movie {
    margin-top: 2rem;
    margin-left: 2.5rem;
    .row {
        margin-left: 3rem !important;
    }

    .col {
        // background-color: gray;
        border-radius: 2px;
        margin: 0.2rem;
        width: 20rem;
        height: 20rem;
        &:hover {
            // background-color: green;
            transform: scale(1.5);
            transition: 0.5s;
        }
        .img{
            height: 20rem;
        }
    }
}

.category {
    margin-left: 3rem !important;
    color: white;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.bell {
    width: 20px;
    height: 20px;
}

#action{
    color: white;
}

/* Footer */
#socialMedia {
    display: flex;
    padding: 3em;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

#footer-name {
    margin-top: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    color: white;
}

#socialMedia a {
    margin-left: 10px;
    font-size: 1em;
    color: white;
    text-decoration: none;
}